In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#table 1 and descriptive statistics
from utils import createLabels
from utils import prepareData
import pandas as pd
#data=createLabels(r'C:\Users\Nitsan Cooper\OneDrive\מסמכים\DiabetesMLProject\data\diabetic_data.csv')

In [10]:

from utils import createLabels
data=createLabels(r'C:\Users\Nitsan Cooper\OneDrive\מסמכים\DiabetesMLProject\data\diabetic_data.csv')

data.head()

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\Nitsan Cooper\\OneDrive\\מסמכים\\DiabetesMLProject\\collapsed_data.csv'

In [14]:
data=pd.read_csv(r'C:\Users\Nitsan Cooper\OneDrive\מסמכים\DiabetesMLProject\collapsed_data.csv')
data.head()

   Unnamed: 0  encounter_id  ...  discharge_disposition_id  readmitted_less_than_30
0        4267    24437208.0  ...                       1.0                      0.0
1        4780    26264286.0  ...                       1.0                      0.0
2        5827    29758806.0  ...                       1.0                      0.0
3       67608   189899286.0  ...                       3.0                      0.0
4       17494    64331490.0  ...                       1.0                      0.0

[5 rows x 18 columns]

In [15]:

for col in data.columns:
    unique_vals = data[col].unique()
    print(f"Unique values in {col}: {unique_vals}")

Unique values in Unnamed: 0: [  4267   4780   5827 ...  93651 101748  96147]
Unique values in encounter_id: [2.44372080e+07 2.62642860e+07 2.97588060e+07 ... 3.38462954e+08
 4.43811536e+08 3.71459060e+08]
Unique values in patient_nbr: [1.35000000e+02 3.78000000e+02 7.29000000e+02 ... 1.89445127e+08
 1.89481478e+08 1.89502619e+08]
Unique values in race: [0. 2. 3. 1. 4.]
Unique values in gender: [0. 1.]
Unique values in age_group: [3. 4. 2. 1. 0.]
Unique values in admission_type_id: [2. 1. 3. 6. 8. 4. 5. 7.]
Unique values in time_in_hospital: [ 8.  3.  2.  4.  5.  6. 10. 12.  9.  1. 14. 11.  7. 13.]
Unique values in num_procedures: [6. 1. 2. 0. 4. 5. 3.]
Unique values in admission_source_id: [ 1.  7.  4.  6.  5.  2. 17.  9.  3. 20.  8. 14. 10. 11. 22. 13. 25.]
Unique values in diabetesMed: [1. 0.]
Unique values in payer_code: [2. 3. 1.]
Unique values in number_diagnoses: [ 8.  5.  3.  9.  2.  6.  7.  4.  1. 13. 16. 15. 11. 10. 14. 12.]
Unique values in readmitted: [1. 0.]
Unique values in change: [1. 0.]
Unique values in num_medications: [33. 14. 11. 23. 20.  5. 13. 15. 19. 16. 18. 12. 31.  9.  8. 10.  3. 17.
  7. 45. 22. 26. 25.  6.  4. 39. 21. 36. 38. 28. 32.  2. 37. 34. 41. 24.
 27. 35. 29.  1. 30. 48. 44. 52. 43. 46. 55. 42. 40. 47. 61. 49. 58. 56.
 51. 57. 50. 54. 59. 53. 63. 69. 60. 68. 65. 67. 70. 64. 62. 66. 81. 75.
 79. 74. 72.]
Unique values in discharge_disposition_id: [ 1.  3.  6.  5.  4.  2. 25. 22. 18.  8. 11. 13. 14.  7. 23. 15. 12. 28.
 27. 17. 16. 20. 24.  9. 19. 10.]
Unique values in readmitted_less_than_30: [0. 1.]

In [16]:
print(data.dtypes)

Unnamed: 0                    int64
encounter_id                float64
patient_nbr                 float64
race                        float64
gender                      float64
age_group                   float64
admission_type_id           float64
time_in_hospital            float64
num_procedures              float64
admission_source_id         float64
diabetesMed                 float64
payer_code                  float64
number_diagnoses            float64
readmitted                  float64
change                      float64
num_medications             float64
discharge_disposition_id    float64
readmitted_less_than_30     float64
dtype: object

In [17]:
#turn integer variables into categorical and labeling
fdata= pd.DataFrame(data)

race_mapping_reverse = {
    0: 'Caucasian',
    1: 'Asian',
    2: 'AfricanAmerican',
    3: 'Hispanic',
    4: 'Other'
}
fdata['race'] = fdata['race'].replace(race_mapping_reverse)
fdata['race'] = fdata['race'].astype('category')

age_group_mapping_reverse = {
    0: '0-10',
    1: '10-20',
    2: '20-40',
    3: '40-50',
    4: '60-100'
}
fdata['age_group'] = fdata['age_group'].replace(age_group_mapping_reverse)
fdata['age_group'] = fdata['age_group'].astype('category')

gender_mapping_reverse = {
    0: 'Female',
    1: 'Male',
}
fdata['gender'] = fdata['gender'].replace(gender_mapping_reverse)
fdata['gender'] = fdata['gender'].astype('category')

diabetesMed_mapping_reverse = {
    0: 'Not_using_meds',
    1: 'Using_meds',
}
fdata['diabetesMed'] = fdata['diabetesMed'].replace(diabetesMed_mapping_reverse)
fdata['diabetesMed'] = fdata['diabetesMed'].astype('category')

payer_code_mapping_reverse = {
    1: 'self_pay',
    2: 'mid_class_insurance',
    3:'expensive/premium',
}
fdata['payer_code'] = fdata['payer_code'].replace(payer_code_mapping_reverse)
fdata['payer_code'] = fdata['payer_code'].astype('category')
# Define the payer code categories: 1 = self pay, 2 = mid class insurance, 3 = expensive/premium

fdata = fdata.rename(columns={'change': 'changed_meds'})
changed_meds_mapping_reverse = {
    0: 'no',
    1: 'yes',
}

fdata['changed_meds'] = fdata['changed_meds'].replace(changed_meds_mapping_reverse)
fdata['changed_meds'] = fdata['changed_meds'].astype('category')

readmitted_less_than_30_meds_mapping_reverse = {
    0: 'no',
    1: 'yes',
}

fdata['readmitted_less_than_30'] = fdata['readmitted_less_than_30'].replace(readmitted_less_than_30_meds_mapping_reverse)
fdata['readmitted_less_than_30'] = fdata['readmitted_less_than_30'].astype('category')



print(fdata.dtypes)
fdata.head()

Unnamed: 0                     int64
encounter_id                 float64
patient_nbr                  float64
race                        category
gender                      category
age_group                   category
admission_type_id            float64
time_in_hospital             float64
num_procedures               float64
admission_source_id          float64
diabetesMed                 category
payer_code                  category
number_diagnoses             float64
readmitted                   float64
changed_meds                category
num_medications              float64
discharge_disposition_id     float64
readmitted_less_than_30     category
dtype: object

   Unnamed: 0  encounter_id  ...  discharge_disposition_id readmitted_less_than_30
0        4267    24437208.0  ...                       1.0                      no
1        4780    26264286.0  ...                       1.0                      no
2        5827    29758806.0  ...                       1.0                      no
3       67608   189899286.0  ...                       3.0                      no
4       17494    64331490.0  ...                       1.0                      no

[5 rows x 18 columns]

In [19]:


desc_stats = fdata.describe(include='all')
desc_stats_T = desc_stats.transpose()
print(desc_stats_T)

                             count unique  ...          75%          max
Unnamed: 0                101766.0    NaN  ...     76323.75     101765.0
encounter_id              101766.0    NaN  ...  230270887.5  443867222.0
patient_nbr               101766.0    NaN  ...  87545949.75  189502619.0
race                        101766      5  ...          NaN          NaN
gender                      101766      2  ...          NaN          NaN
age_group                   101766      5  ...          NaN          NaN
admission_type_id         101766.0    NaN  ...          3.0          8.0
time_in_hospital          101766.0    NaN  ...          6.0         14.0
num_procedures            101766.0    NaN  ...          2.0          6.0
admission_source_id       101766.0    NaN  ...          7.0         25.0
diabetesMed                 101766      2  ...          NaN          NaN
payer_code                  101766      3  ...          NaN          NaN
number_diagnoses          101766.0    NaN  ...          9.0         16.0
readmitted                101766.0    NaN  ...          0.0          1.0
changed_meds                101766      2  ...          NaN          NaN
num_medications           101766.0    NaN  ...         20.0         81.0
discharge_disposition_id  101766.0    NaN  ...          4.0         28.0
readmitted_less_than_30     101766      2  ...          NaN          NaN

[18 rows x 11 columns]

In [21]:
from tableone import TableOne

In [24]:
data1 = fdata.drop(columns=['encounter_id', 'patient_nbr','Unnamed: 0','admission_type_id','admission_source_id','discharge_disposition_id'])
data1.head()
groupby = ['readmitted_less_than_30']
nonnormal = ['time_in_hospital']
data1['num_medications']=data1['num_medications'].astype(int)
labels={'readmitted_less_than_30': 'will be readmitted within 30 days'}

table1=TableOne(data1,categorical=['race','gender','age_group','diabetesMed','payer_code','changed_meds','readmitted'],groupby='readmitted_less_than_30', rename=labels,pval=True,htest_name=True)
print(table1.tabulate(tablefmt = "fancy_grid"))

╒═════════════════════════════╤═════════════════════╤═══════════╤══════════════╤══════════════╤═════════════╤═══════════╤═══════════════════╕
│                             │                     │ Missing   │ Overall      │ no           │ yes         │ P-Value   │ Test              │
╞═════════════════════════════╪═════════════════════╪═══════════╪══════════════╪══════════════╪═════════════╪═══════════╪═══════════════════╡
│ n                           │                     │           │ 101766       │ 96702        │ 5064        │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ race, n (%)                 │ AfricanAmerican     │ 0         │ 19210 (18.9) │ 18148 (18.8) │ 1062 (21.0) │ 0.001     │ Chi-squared       │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ Asian               │           │ 641 (0.6)    │ 618 (0.6)    │ 23 (0.5)    │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ Caucasian           │           │ 78372 (77.0) │ 74549 (77.1) │ 3823 (75.5) │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ Hispanic            │           │ 2037 (2.0)   │ 1947 (2.0)   │ 90 (1.8)    │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ Other               │           │ 1506 (1.5)   │ 1440 (1.5)   │ 66 (1.3)    │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ gender, n (%)               │ Female              │ 0         │ 54711 (53.8) │ 51929 (53.7) │ 2782 (54.9) │ 0.088     │ Chi-squared       │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ Male                │           │ 47055 (46.2) │ 44773 (46.3) │ 2282 (45.1) │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ age_group, n (%)            │ 0-10                │ 0         │ 161 (0.2)    │ 161 (0.2)    │             │ <0.001    │ Chi-squared       │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ 10-20               │           │ 691 (0.7)    │ 676 (0.7)    │ 15 (0.3)    │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ 20-40               │           │ 5432 (5.3)   │ 5039 (5.2)   │ 393 (7.8)   │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ 40-50               │           │ 26941 (26.5) │ 25600 (26.5) │ 1341 (26.5) │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ 60-100              │           │ 68541 (67.4) │ 65226 (67.5) │ 3315 (65.5) │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ time_in_hospital, mean (SD) │                     │ 0         │ 4.4 (3.0)    │ 4.4 (3.0)    │ 4.7 (3.0)   │ <0.001    │ Two Sample T-test │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ num_procedures, mean (SD)   │                     │ 0         │ 1.3 (1.7)    │ 1.3 (1.7)    │ 1.1 (1.6)   │ <0.001    │ Two Sample T-test │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ diabetesMed, n (%)          │ Not_using_meds      │ 0         │ 23403 (23.0) │ 22436 (23.2) │ 967 (19.1)  │ <0.001    │ Chi-squared       │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ Using_meds          │           │ 78363 (77.0) │ 74266 (76.8) │ 4097 (80.9) │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ payer_code, n (%)           │ expensive/premium   │ 0         │ 2711 (2.7)   │ 2582 (2.7)   │ 129 (2.5)   │ 0.001     │ Chi-squared       │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ mid_class_insurance │           │ 94048 (92.4) │ 89418 (92.5) │ 4630 (91.4) │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ self_pay            │           │ 5007 (4.9)   │ 4702 (4.9)   │ 305 (6.0)   │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ number_diagnoses, mean (SD) │                     │ 0         │ 7.4 (1.9)    │ 7.4 (1.9)    │ 7.7 (1.8)   │ <0.001    │ Two Sample T-test │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ readmitted, n (%)           │ 0.0                 │ 0         │ 90409 (88.8) │ 87046 (90.0) │ 3363 (66.4) │ <0.001    │ Chi-squared       │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ 1.0                 │           │ 11357 (11.2) │ 9656 (10.0)  │ 1701 (33.6) │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ changed_meds, n (%)         │ no                  │ 0         │ 54755 (53.8) │ 52267 (54.0) │ 2488 (49.1) │ <0.001    │ Chi-squared       │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│                             │ yes                 │           │ 47011 (46.2) │ 44435 (46.0) │ 2576 (50.9) │           │                   │
├─────────────────────────────┼─────────────────────┼───────────┼──────────────┼──────────────┼─────────────┼───────────┼───────────────────┤
│ num_medications, mean (SD)  │                     │ 0         │ 16.0 (8.1)   │ 16.0 (8.1)   │ 16.8 (7.7)  │ <0.001    │ Two Sample T-test │
╘═════════════════════════════╧═════════════════════╧═══════════╧══════════════╧══════════════╧═════════════╧═══════════╧═══════════════════╛

In [129]:
table1.to_html(r'C:\Users\Nitsan Cooper\OneDrive\מסמכים\DiabetesMLProject\table1.html')

In [1]:
#updated utils
from utils import createLabels
data=createLabels(r'C:\Users\Nitsan Cooper\OneDrive\מסמכים\DiabetesMLProject\data\diabetic_data.csv', return_filtered = True)
# data = pd.DataFrame(data)
data.head()

,encounter_id,patient_nbr,race,gender,age_group,admission_type_id,payer_code,change,insulin,num_medications,discharge_disposition_id,admission_source_id,readmitted
0,2278392.0,8222157.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,1.0,4.0,0.0
1,149190.0,55629189.0,0.0,0.0,1.0,4.0,2.0,1.0,3.0,18.0,1.0,5.0,0.0
2,64410.0,86047875.0,2.0,0.0,1.0,4.0,2.0,0.0,0.0,13.0,1.0,5.0,0.0
3,500364.0,82442376.0,0.0,1.0,2.0,4.0,2.0,1.0,3.0,16.0,1.0,5.0,0.0
4,16680.0,42519267.0,0.0,1.0,2.0,4.0,2.0,1.0,2.0,8.0,1.0,5.0,0.0

In [2]:
for col in data.columns:
    unique_vals = data[col].unique()
    print(f"Unique values in {col}: {unique_vals}")

Unique values in encounter_id: [2.27839200e+06 1.49190000e+05 6.44100000e+04 ... 4.43854148e+08
 4.43857166e+08 4.43867222e+08]
Unique values in patient_nbr: [8.22215700e+06 5.56291890e+07 8.60478750e+07 ... 1.40199494e+08
 1.20975314e+08 1.75429310e+08]
Unique values in race: [0. 2. 4. 1. 3.]
Unique values in gender: [0. 1.]
Unique values in age_group: [0. 1. 2. 3. 4. 5.]
Unique values in admission_type_id: [1. 4.]
Unique values in payer_code: [2. 1. 5. 4. 3.]
Unique values in change: [0. 1.]
Unique values in insulin: [0. 3. 2. 1.]
Unique values in num_medications: [ 1. 18. 13. 16.  8. 21. 12. 28. 17. 11. 15. 31.  2. 23. 19.  7. 20. 14.
 10. 22.  9. 27. 25.  4. 32.  6. 30. 26. 24. 33.  5. 39.  3. 29. 61. 40.
 46. 41. 36. 34. 35. 50. 43. 42. 37. 51. 38. 45. 54. 52. 49. 62. 55. 47.
 44. 53. 48. 57. 59. 56. 60. 63. 58. 70. 67. 64. 69. 65. 68. 66. 81. 79.
 75. 72. 74.]
Unique values in discharge_disposition_id: [1. 3. 4. 5. 2.]
Unique values in admission_source_id: [4. 5. 3. 2. 8.]
Unique values in readmitted: [0. 1.]

In [9]:
#turn integer variables into categorical and labeling
fdata= pd.DataFrame(data)

race_mapping_reverse = {
    0: 'Caucasian',
    1: 'Asian',
    2: 'AfricanAmerican',
    3: 'Hispanic',
    4: 'Other',
}
fdata['race'] = fdata['race'].replace(race_mapping_reverse)
fdata['race'] = fdata['race'].astype('category')

age_group_mapping_reverse = {
    0: '0-10',
    1: '10-30',
    2: '30-50',
    3: '50-60',
    4: '60-80',
    5: '80-100',
}
 
fdata['age_group'] = fdata['age_group'].replace(age_group_mapping_reverse)
fdata['age_group'] = fdata['age_group'].astype('category')

gender_mapping_reverse = {
    0: 'Female',
    1: 'Male',
}
fdata['gender'] = fdata['gender'].replace(gender_mapping_reverse)
fdata['gender'] = fdata['gender'].astype('category')

#diabetesMed_mapping_reverse = {
#    0: 'Not_using_meds',
#    1: 'Using_meds',
#}
#fdata['diabetesMed'] = fdata['diabetesMed'].replace(diabetesMed_mapping_reverse)
#fdata['diabetesMed'] = fdata['diabetesMed'].astype('category')

payer_code_mapping_reverse = {
    1: 'No insurance',
    2: 'Basic insurance',
    3: 'middle class insurance',
    4: 'work insurance',
    5: 'expensive/premium',
}


fdata['payer_code'] = fdata['payer_code'].replace(payer_code_mapping_reverse)
fdata['payer_code'] = fdata['payer_code'].astype('category')


fdata = fdata.rename(columns={'change': 'changed_meds'})
changed_meds_mapping_reverse = {
    0: 'no',
    1: 'yes',
}

fdata['changed_meds'] = fdata['changed_meds'].replace(changed_meds_mapping_reverse)
fdata['changed_meds'] = fdata['changed_meds'].astype('category')

readmitted_less_than_30_meds_mapping_reverse = {
    0: 'no',
    1: 'yes',
}

fdata['readmitted'] = fdata['readmitted'].replace(readmitted_less_than_30_meds_mapping_reverse)
fdata['readmitted'] = fdata['readmitted'].astype('category')

#filtered_data['insulin'] = filtered_data['insulin'].map({'No': 0, 'Down': 1, 'Steady': 2,'Up':3})
insulin_mapping_reverse = {
    0: 'No',
    1: 'Down',
    2: 'Steady',
    3: 'Up',
}


fdata['insulin'] = fdata['insulin'].replace(insulin_mapping_reverse)
fdata['insulin'] = fdata['insulin'].astype('category')

print(fdata.dtypes)
fdata.head()

encounter_id                 float64
patient_nbr                  float64
race                        category
gender                      category
age_group                   category
admission_type_id            float64
payer_code                  category
changed_meds                category
insulin                     category
num_medications              float64
discharge_disposition_id     float64
admission_source_id          float64
readmitted                  category
dtype: object

,encounter_id,patient_nbr,race,gender,age_group,admission_type_id,payer_code,changed_meds,insulin,num_medications,discharge_disposition_id,admission_source_id,readmitted
0,2278392.0,8222157.0,Caucasian,Female,0-10,1.0,Basic insurance,no,No,1.0,1.0,4.0,no
1,149190.0,55629189.0,Caucasian,Female,10-30,4.0,Basic insurance,yes,Up,18.0,1.0,5.0,no
2,64410.0,86047875.0,AfricanAmerican,Female,10-30,4.0,Basic insurance,no,No,13.0,1.0,5.0,no
3,500364.0,82442376.0,Caucasian,Male,30-50,4.0,Basic insurance,yes,Up,16.0,1.0,5.0,no
4,16680.0,42519267.0,Caucasian,Male,30-50,4.0,Basic insurance,yes,Steady,8.0,1.0,5.0,no

In [10]:
from tableone import TableOne

In [22]:
data1 = fdata.drop(columns=['encounter_id', 'patient_nbr','admission_type_id','admission_source_id','discharge_disposition_id'])
data1.head()
groupby = ['readmitted']
#data1['num_medications']=data1['num_medications'].astype(int)
labels={'readmitted': 'Readmission within 30 days?', 'payer_code':'medical insurance', 'changed_meds':'changed madications during last visit', 'num_medications':'number of medications',
        'insulin':"dosage of insulin since last visit", 'age_group':'age group'}

#table1=TableOne(data1,categorical=['race','gender','age_group','insulin','payer_code','changed_meds'],groupby='readmitted', rename=labels,pval=True,htest_name=True)
#print(table1.tabulate(tablefmt = "fancy_grid"))

In [24]:
new_table1=TableOne(data1,categorical=['race','gender','age_group','insulin','payer_code','changed_meds'],groupby='readmitted', rename=labels,pval=True,htest_name=True)
new_table1.to_html(r'C:\Users\Nitsan Cooper\OneDrive\מסמכים\DiabetesMLProject\new_table1.html')